@charset "UTF-8";
/*!
 * Marp / Marpit Haskell theme.
 *
 * @theme haskell
 * @author MATSUBARA Nobutada
 * @size 4:3 960px 720px
 * @size 16:9 1280px 720px
 */
@import url("https://fonts.googleapis.com/css?family=Lato:400,900|Roboto+Mono:400,700");
@import url("https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/atom-one-dark.min.css");
/* line 86, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
svg[data-marp-fitting='svg'] {
  max-height: 580px;
}

/* line 90, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.5em 0 0 0;
}

/* line 98, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
h1 strong,
h2 strong,
h3 strong,
h4 strong,
h5 strong,
h6 strong {
  font-weight: inherit;
}

/* line 103, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
h1 {
  font-size: 1.8em;
}

/* line 107, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
h2 {
  font-size: 1.5em;
}

/* line 111, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
h3 {
  font-size: 1.3em;
}

/* line 115, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
h4 {
  font-size: 1.1em;
}

/* line 119, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
h5 {
  font-size: 1em;
}

/* line 123, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
h6 {
  font-size: 0.9em;
}

/* line 127, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
p,
blockquote {
  margin: 1em 0 0 0;
}

/* line 134, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
ul > li,
ol > li {
  margin: 0.3em 0 0 0;
}

/* line 137, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
ul > li > p,
ol > li > p {
  margin: 0.6em 0 0 0;
}

/* line 143, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
code {
  display: inline-block;
  font-family: 'NasuM', 'Roboto Mono', monospace;
  font-size: 0.8em;
  letter-spacing: 0;
  margin: -0.1em 0.15em;
  padding: 0.1em 0.2em;
  vertical-align: baseline;
}

/* line 153, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
pre {
  display: block;
  margin: 1em 0 0 0;
  min-height: 1em;
  overflow: visible;
}

/* line 159, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
pre code {
  box-sizing: border-box;
  margin: 0;
  min-width: 100%;
  padding: 0.5em;
  font-size: 0.7em;
}

/* line 166, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
pre code svg[data-marp-fitting='svg'] {
  max-height: calc(580px - 1em);
}

/* line 224, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
blockquote {
  margin: 1em 0 0 0;
  padding: 0 1em;
  position: relative;
}

/* line 229, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
blockquote::after, blockquote::before {
  content: '“';
  display: block;
  font-family: 'Times New Roman', serif;
  font-weight: bold;
  position: absolute;
}

/* line 238, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
blockquote::before {
  top: 0;
  left: 0;
}

/* line 243, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
blockquote::after {
  right: 0;
  bottom: 0;
  transform: rotate(180deg);
}

/* line 249, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
blockquote > *:first-child {
  margin-top: 0;
}

/* line 254, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
mark {
  background: transparent;
}

/* line 258, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
table {
  border-spacing: 0;
  border-collapse: collapse;
  margin: 1em 0 0 0;
}

/* line 263, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
table th,
table td {
  padding: 0.2em 0.4em;
  border-width: 1px;
  border-style: solid;
}

/* line 271, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
section {
  background-image: linear-gradient(135deg, rgba(136, 136, 136, 0), rgba(136, 136, 136, 0.02) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.05));
  font-size: 28px;
  font-family: '源真ゴシック', 'ヒラギノ角ゴ Pro W3', 'Lato', 'Avenir Next', 'Avenir', 'Trebuchet MS', 'Segoe UI', sans-serif;
  line-height: 1.35;
  letter-spacing: 1.25px;
  padding: 70px;
  color: #323232;
  background-color: #FFFFFF;
  background: "";
}

/* line 285, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
section > *:first-child,
section > header:first-child + * {
  margin-top: 0;
}

/* line 27, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
section a,
section mark {
  color: #5d4f85;
}

/* line 32, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
section code {
  background: rgba(0, 0, 0, 0.1);
  color: #323232;
}

/* line 43, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
section h1 strong,
section h2 strong,
section h3 strong,
section h4 strong,
section h5 strong,
section h6 strong {
  color: #5d4f85;
}

/* line 47, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
section h1 img,
section h2 img,
section h3 img,
section h4 img,
section h5 img,
section h6 img {
  display: block;
  margin: auto;
}

/* line 53, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
section pre > code {
  background: rgba(0, 0, 0, 0.1);
  color: #323232;
}

/* line 58, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
section header,
section footer,
section section::after,
section blockquote::before,
section blockquote::after {
  color: #5b5b5b;
}

/* line 67, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
section table th,
section table td {
  border-color: #323232;
}

/* line 72, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
section table thead th {
  background: #323232;
  color: #FFFFFF;
}

/* line 78, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
section table tbody > tr:nth-child(odd) td,
section table tbody > tr:nth-child(odd) th {
  background: rgba(50, 50, 50, 0.1);
}

/* line 292, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
section.invert {
  color: #FFFFFF;
  background-color: #323232;
  background: "";
}

/* line 27, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
section.invert a,
section.invert mark {
  color: #DB83ED;
}

/* line 32, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
section.invert code {
  background: rgba(0, 0, 0, 0.3);
  color: #FFFFFF;
}

/* line 43, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
section.invert h1 strong,
section.invert h2 strong,
section.invert h3 strong,
section.invert h4 strong,
section.invert h5 strong,
section.invert h6 strong {
  color: #DB83ED;
}

/* line 47, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
section.invert h1 img,
section.invert h2 img,
section.invert h3 img,
section.invert h4 img,
section.invert h5 img,
section.invert h6 img {
  display: block;
  margin: auto;
}

/* line 53, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
section.invert pre > code {
  background: rgba(0, 0, 0, 0.3);
  color: #FFFFFF;
}

/* line 58, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
section.invert header,
section.invert footer,
section.invert section::after,
section.invert blockquote::before,
section.invert blockquote::after {
  color: #d6d6d6;
}

/* line 67, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
section.invert table th,
section.invert table td {
  border-color: #FFFFFF;
}

/* line 72, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
section.invert table thead th {
  background: #FFFFFF;
  color: #323232;
}

/* line 78, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
section.invert table tbody > tr:nth-child(odd) td,
section.invert table tbody > tr:nth-child(odd) th {
  background: rgba(255, 255, 255, 0.1);
}

/* line 296, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
section.haskell {
  color: #FFFFFF;
  background-color: #5d4f85;
  background: url("https://raw.githubusercontent.com/haskell-infra/hl/master/static/img/pattern.png");
}

/* line 27, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
section.haskell a,
section.haskell mark {
  color: #DB83ED;
}

/* line 32, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
section.haskell code {
  background: rgba(235, 228, 243, 0.25);
  color: #FFFFFF;
}

/* line 43, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
section.haskell h1 strong,
section.haskell h2 strong,
section.haskell h3 strong,
section.haskell h4 strong,
section.haskell h5 strong,
section.haskell h6 strong {
  color: #DB83ED;
}

/* line 47, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
section.haskell h1 img,
section.haskell h2 img,
section.haskell h3 img,
section.haskell h4 img,
section.haskell h5 img,
section.haskell h6 img {
  display: block;
  margin: auto;
}

/* line 53, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
section.haskell pre > code {
  background: rgba(235, 228, 243, 0.25);
  color: #FFFFFF;
}

/* line 58, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
section.haskell header,
section.haskell footer,
section.haskell section::after,
section.haskell blockquote::before,
section.haskell blockquote::after {
  color: #dfdce7;
}

/* line 67, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
section.haskell table th,
section.haskell table td {
  border-color: #FFFFFF;
}

/* line 72, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
section.haskell table thead th {
  background: #FFFFFF;
  color: #5d4f85;
}

/* line 78, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
section.haskell table tbody > tr:nth-child(odd) td,
section.haskell table tbody > tr:nth-child(odd) th {
  background: rgba(255, 255, 255, 0.1);
}

/* line 300, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
section.lead {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}

/* line 178, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
section.lead h1,
section.lead h2,
section.lead h3,
section.lead h4,
section.lead h5,
section.lead h6 {
  text-align: center;
}

/* line 186, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
section.lead h1 svg[data-marp-fitting='svg'],
section.lead h2 svg[data-marp-fitting='svg'],
section.lead h3 svg[data-marp-fitting='svg'],
section.lead h4 svg[data-marp-fitting='svg'],
section.lead h5 svg[data-marp-fitting='svg'],
section.lead h6 svg[data-marp-fitting='svg'] {
  --preserve-aspect-ratio: xMidYMid meet;
}

/* line 191, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
section.lead p {
  text-align: center;
}

/* line 196, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
section.lead blockquote > h1,
section.lead blockquote > h2,
section.lead blockquote > h3,
section.lead blockquote > h4,
section.lead blockquote > h5,
section.lead blockquote > h6,
section.lead blockquote > p {
  text-align: left;
}

/* line 206, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
section.lead blockquote svg[data-marp-fitting='svg']:not([data-marp-fitting-math]) {
  --preserve-aspect-ratio: xMinYMin meet;
}

/* line 213, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
section.lead ul > li > p,
section.lead ol > li > p {
  text-align: left;
}

/* line 218, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
section.lead table {
  margin-left: auto;
  margin-right: auto;
}

/* line 304, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
section.lead-invert {
  color: #FFFFFF;
  background-color: #323232;
  background: "";
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}

/* line 27, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
section.lead-invert a,
section.lead-invert mark {
  color: #DB83ED;
}

/* line 32, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
section.lead-invert code {
  background: rgba(0, 0, 0, 0.3);
  color: #FFFFFF;
}

/* line 43, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
section.lead-invert h1 strong,
section.lead-invert h2 strong,
section.lead-invert h3 strong,
section.lead-invert h4 strong,
section.lead-invert h5 strong,
section.lead-invert h6 strong {
  color: #DB83ED;
}

/* line 47, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
section.lead-invert h1 img,
section.lead-invert h2 img,
section.lead-invert h3 img,
section.lead-invert h4 img,
section.lead-invert h5 img,
section.lead-invert h6 img {
  display: block;
  margin: auto;
}

/* line 53, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
section.lead-invert pre > code {
  background: rgba(0, 0, 0, 0.3);
  color: #FFFFFF;
}

/* line 58, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
section.lead-invert header,
section.lead-invert footer,
section.lead-invert section::after,
section.lead-invert blockquote::before,
section.lead-invert blockquote::after {
  color: #d6d6d6;
}

/* line 67, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
section.lead-invert table th,
section.lead-invert table td {
  border-color: #FFFFFF;
}

/* line 72, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
section.lead-invert table thead th {
  background: #FFFFFF;
  color: #323232;
}

/* line 78, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
section.lead-invert table tbody > tr:nth-child(odd) td,
section.lead-invert table tbody > tr:nth-child(odd) th {
  background: rgba(255, 255, 255, 0.1);
}

/* line 178, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
section.lead-invert h1,
section.lead-invert h2,
section.lead-invert h3,
section.lead-invert h4,
section.lead-invert h5,
section.lead-invert h6 {
  text-align: center;
}

/* line 186, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
section.lead-invert h1 svg[data-marp-fitting='svg'],
section.lead-invert h2 svg[data-marp-fitting='svg'],
section.lead-invert h3 svg[data-marp-fitting='svg'],
section.lead-invert h4 svg[data-marp-fitting='svg'],
section.lead-invert h5 svg[data-marp-fitting='svg'],
section.lead-invert h6 svg[data-marp-fitting='svg'] {
  --preserve-aspect-ratio: xMidYMid meet;
}

/* line 191, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
section.lead-invert p {
  text-align: center;
}

/* line 196, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
section.lead-invert blockquote > h1,
section.lead-invert blockquote > h2,
section.lead-invert blockquote > h3,
section.lead-invert blockquote > h4,
section.lead-invert blockquote > h5,
section.lead-invert blockquote > h6,
section.lead-invert blockquote > p {
  text-align: left;
}

/* line 206, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
section.lead-invert blockquote svg[data-marp-fitting='svg']:not([data-marp-fitting-math]) {
  --preserve-aspect-ratio: xMinYMin meet;
}

/* line 213, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
section.lead-invert ul > li > p,
section.lead-invert ol > li > p {
  text-align: left;
}

/* line 218, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
section.lead-invert table {
  margin-left: auto;
  margin-right: auto;
}

/* line 309, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
section.lead-haskell {
  color: #FFFFFF;
  background-color: #5d4f85;
  background: url("https://raw.githubusercontent.com/haskell-infra/hl/master/static/img/pattern.png");
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}

/* line 27, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
section.lead-haskell a,
section.lead-haskell mark {
  color: #DB83ED;
}

/* line 32, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
section.lead-haskell code {
  background: rgba(235, 228, 243, 0.25);
  color: #FFFFFF;
}

/* line 43, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
section.lead-haskell h1 strong,
section.lead-haskell h2 strong,
section.lead-haskell h3 strong,
section.lead-haskell h4 strong,
section.lead-haskell h5 strong,
section.lead-haskell h6 strong {
  color: #DB83ED;
}

/* line 47, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
section.lead-haskell h1 img,
section.lead-haskell h2 img,
section.lead-haskell h3 img,
section.lead-haskell h4 img,
section.lead-haskell h5 img,
section.lead-haskell h6 img {
  display: block;
  margin: auto;
}

/* line 53, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
section.lead-haskell pre > code {
  background: rgba(235, 228, 243, 0.25);
  color: #FFFFFF;
}

/* line 58, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
section.lead-haskell header,
section.lead-haskell footer,
section.lead-haskell section::after,
section.lead-haskell blockquote::before,
section.lead-haskell blockquote::after {
  color: #dfdce7;
}

/* line 67, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
section.lead-haskell table th,
section.lead-haskell table td {
  border-color: #FFFFFF;
}

/* line 72, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
section.lead-haskell table thead th {
  background: #FFFFFF;
  color: #5d4f85;
}

/* line 78, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
section.lead-haskell table tbody > tr:nth-child(odd) td,
section.lead-haskell table tbody > tr:nth-child(odd) th {
  background: rgba(255, 255, 255, 0.1);
}

/* line 178, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
section.lead-haskell h1,
section.lead-haskell h2,
section.lead-haskell h3,
section.lead-haskell h4,
section.lead-haskell h5,
section.lead-haskell h6 {
  text-align: center;
}

/* line 186, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
section.lead-haskell h1 svg[data-marp-fitting='svg'],
section.lead-haskell h2 svg[data-marp-fitting='svg'],
section.lead-haskell h3 svg[data-marp-fitting='svg'],
section.lead-haskell h4 svg[data-marp-fitting='svg'],
section.lead-haskell h5 svg[data-marp-fitting='svg'],
section.lead-haskell h6 svg[data-marp-fitting='svg'] {
  --preserve-aspect-ratio: xMidYMid meet;
}

/* line 191, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
section.lead-haskell p {
  text-align: center;
}

/* line 196, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
section.lead-haskell blockquote > h1,
section.lead-haskell blockquote > h2,
section.lead-haskell blockquote > h3,
section.lead-haskell blockquote > h4,
section.lead-haskell blockquote > h5,
section.lead-haskell blockquote > h6,
section.lead-haskell blockquote > p {
  text-align: left;
}

/* line 206, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
section.lead-haskell blockquote svg[data-marp-fitting='svg']:not([data-marp-fitting-math]) {
  --preserve-aspect-ratio: xMinYMin meet;
}

/* line 213, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
section.lead-haskell ul > li > p,
section.lead-haskell ol > li > p {
  text-align: left;
}

/* line 218, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
section.lead-haskell table {
  margin-left: auto;
  margin-right: auto;
}

/* line 315, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
header,
footer,
section::after {
  box-sizing: border-box;
  font-size: 66%;
  height: 70px;
  line-height: 50px;
  overflow: hidden;
  padding: 10px 25px;
  position: absolute;
}

/* line 327, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
header {
  left: 0;
  right: 0;
  top: 0;
}

/* line 333, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
footer {
  left: 0;
  right: 0;
  bottom: 0;
}

/* line 339, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
section::after {
  right: 0;
  bottom: 0;
  font-size: 80%;
}

/* line 345, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
.grid {
  display: grid;
  gap: 1rem;
}

/* line 350, ../../Programmering/Github/Marp-themes/themes/scss/haskell.scss */
.columns-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

/*# sourceMappingURL=haskell.css.map */